@charset "utf-8";

/* noto sans 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 공통으로 사용할 변수 선언 */
:root {
  --base-color: #333;
  --base-font-size: 12px;
  --base-font-family: "Noto Sans KR", arial, sans-serif;
  --color-black: #000;
  --color-gray: #7c7c7c;
  --color-white: #fff;
}

/* 공통서식 */
/* 1. 글자모양, 크기, 색상 */
body {
  color: var(--base-color);
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
}

/* 2. 링크 */
a {
  color: var(--base-color);
  text-decoration: none;
}

/* 3. 서브페이지 공통 ui 서식 */
button {
  background: none;
  border: none;
  cursor: pointer;
}