@charset "utf-8";

/* ν—¤λ” */
.header {
  position: relative;
  padding: 10px 0;
  background: var(--base-color);
}

.header h1 {
  width: 48px;
  margin: auto;
}

.header h1 img {
  width: 100%;
}

.header .toggle-btn,
.header .cart-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
}

.header .toggle-btn {
  left: 14px;
}

.header .cart-btn {
  right: 14px;
}

.header .toggle-btn img,
.header .cart-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navi {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding: 100px 14px 0;
  background: var(--color-black);
  transition: 0.3s;
}

.navi .close-btn {
  position: absolute;
  top: 20px;
  left: 14px;
  width: 36px;
  height: 36px;
}

.navi .close-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.navi .login-name {
  color: var(--color-white);
  font-size: 20px;
  margin-bottom: 30px;
  text-align: right;
}

.navi .login-name strong {
  font-weight: bold;
}

.navi .gnb {
  margin-bottom: 10px;
}

.navi .gnb li {
  border-top: 1px solid var(--color-gray);
}

.navi .gnb li:hover {
  background: var(--color-gray);
}

.navi .gnb a {
  display: block;
  padding: 10px 5px;
  color: var(--color-white);
  font-size: 1rem;
  transition: 0.3s;
}

.navi .form-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}

.navi .form-nav li {
  width: calc(50% - 1px);
  background: var(--color-gray);
  border: 1px solid var(--color-gray);
  text-align: center;
  transition: 0.3s;
}

.navi .form-nav li:hover {
  background: transparent;
}

.navi .form-nav li.logout {
  width: 100%;
}

.navi .form-nav a,
.navi .form-nav button {
  display: block;
  width: 100%;
  padding: 10px;
  color: var(--color-white);
  font-size: inherit;
  line-height: inherit;
}

/* ν‘Έν„° */
.footer {
  width: 100%;
}

.footer img {
  display: block;
  width: 100%;
}